html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

body {
    background-color: rgb(208, 211, 228);
}

/* mobile */
@media (min-width: 340px) {
    body {
    margin-top: 10px;
    }

    .box {
        line-height: 1rem;
    }

    .wlcomeParagraf p {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        line-height: 45px;
        text-align: center;
    }

    .startBtn {
        font-size: 1rem;
    }

    .progressBarTittle {
        margin: 5px;
        font-size: .9rem;
    }

    progress {
        height: 20px;
    }

    .pictureNPC {
        padding-bottom: 65px;
        font-size: 1.6rem;
    }

    .questionBar {
        height: 235px;
    }

    .questionToPlayer {
        line-height: 30px;
        font-size: .8rem;
        font-style: oblique;
        text-align: justify;
    }

    button {
    font-size: 50%;
    }
}

/* Larger than mobile */
@media (min-width: 400px) {
    body {
    margin-top: 100px;
    }

    .box {
        line-height: 1.2rem;
    }

    .wlcomeParagraf p {
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
        line-height: 55px;
        text-align: center;
    }

    .startBtn {
        font-size: 1.1rem;
    }

    .progressBarTittle {
        margin: 10px;
        font-size: 1rem;
    }

    progress {
        height: 25px;
    }

    .pictureNPC {
        padding-bottom: 75px;
        font-size: 1.7rem;
    }

    .questionBar {
        height: 300px;
    }

    .questionToPlayer {
        line-height: 35px;
        font-size: 1rem;
        font-style: oblique;
        text-align: justify;
    }

    button {
    font-size: 50%;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    body {
    margin-top: 100px;
    }

    .box {
        line-height: 1.3rem;
    }

    .wlcomeParagraf p {
        margin-bottom: 1.4rem;
        font-size: 1.4rem;
        line-height: 60px;
        text-align: center;
    }

    .startBtn {
        font-size: 1.2rem;
    }

    .progressBarTittle {
        margin: 10px;
        font-size: 1.1rem;
    }

    progress {
        height: 25px;
    }

    .pictureNPC {
        padding-bottom: 80px;
        font-size: 1.8rem;
    }

    .questionBar {
        height: 300px;
    }

    .questionToPlayer {
        line-height: 40px;
        font-size: 1.1rem;
        font-style: oblique;
        text-align: justify;
    }

    button {
    font-size: 50%;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    body {
    margin-top: 100px;
    }

    .box {
        line-height: 1.3rem;
    }

    .wlcomeParagraf p {
        margin-bottom: 1.4rem;
        font-size: 1.5rem;
        line-height: 85px;
        text-align: center;
    }

    .startBtn {
        font-size: 1.3rem;
    }

    .progressBarTittle {
        margin: 10px;
        font-size: 1.3rem;
    }

    progress {
        height: 25px;
    }

    .pictureNPC {
        padding-bottom: 80px;
        font-size: 2rem;
    }

    .questionBar {
        height: 300px;
    }

    .questionToPlayer {
        line-height: 40px;
        font-size: 1.1rem;
        font-style: oblique;
        text-align: justify;
    }
    button {
    font-size: 55%;
    }

}

/* Larger than desktop */
@media (min-width: 1000px) {
    body {
    margin-top: 70px;
    }

    .box {
        line-height: 1.3rem;
    }

    .wlcomeParagraf p {
        margin-bottom: 1.4rem;
        font-size: 1.5rem;
        line-height: 85px;
        text-align: center;
    }

    .startBtn {
        font-size: 1.3rem;
    }

    .progressBarTittle {
        margin: 10px;
        font-size: 1.3rem;
    }

    progress {
        height: 25px;
    }

    .pictureNPC {
        padding-bottom: 80px;
        font-size: 2.2rem;
    }

    .questionBar {
        height: 300px;
    }

    .questionToPlayer {
        line-height: 55px;
        font-size: 1.1rem;
        font-style: oblique;
        text-align: justify;
    }

    button {
    font-size: 70%;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    body {
    margin-top: 50px;
    }

    .box {
        line-height: 1.4rem;
    }

    .wlcomeParagraf p {
        margin-bottom: 3rem;
        font-size: 1.7rem;
        line-height: 90px;
        text-align: center;
    }

    .startBtn {
        font-size: 1.4rem;
    }

    .progressBarTittle {
        margin: 15px;
        font-size: 1.4rem;
    }

    progress {
        height: 30px;
    }

    .pictureNPC {
        padding-bottom: 80px;
        font-size: 2.8rem;
    }

    .questionBar {
        height: 330px;
    }

    .questionToPlayer {
        line-height: 60px;
        font-size: 1.3rem;
        font-style: oblique;
        text-align: justify;
    }

    button {
    font-size: 70%;
    }
}

.welcomeContainer {
    display: grid;
}

.wlcomeParagraf,
.startBtn {
    display: block;
}

.game {
    display: none;
}

.box {
    border: 1px solid black;
    background-color: #fff;
}

.frame {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.statisticsBar {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    padding: 5px 30px 10px 30px;
}

.progressBarTittle {
    text-align: center;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 2px solid black;
}

.progressGold,
.progressGreen,
.progressBlue,
.progressRed {
    background: #522558;
}

.progressGold::-webkit-progress-value {
    background-color: #ffd700;
}

.progressGold::-moz-progress-bar,
.progressGold::-webkit-progress-bar {
    background-color: #ffd700;
}

.progressGreen::-webkit-progress-value {
    background-color: #4ee213;
}

.progressGreen::-moz-progress-bar,
.progressGreen::-webkit-progress-bar {
    background-color: #4ee213;
}

.progressBlue::-webkit-progress-value {
    background-color: #1f76bd;
}

.progressBlue::-moz-progress-bar,
.progressBlue::-webkit-progress-bar {
    background-color: #1f76bd;
}

.progressRed::-webkit-progress-value {
    background-color: #fd0000;
}

.progressRed::-moz-progress-bar,
.progressRed::-webkit-progress-bar {
    background-color: #fd0000;
}

.gold {
    color: #ffd700;
}

.green {
    color: #4ee213;
}

.blue {
    color: #1f76bd;
}

.picture {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    position: relative;
}

.repeatBtn {
    display: none;
    width: 50%;
    margin: 0px;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.questionToPlayer,
.pictureNPC {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.questionToPlayer {
    padding: 10%;
}

.questionBar {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
    position: relative;
}

.choise {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
    display: grid;
}

button {
    margin: 0px auto;
    height: 60px;
    width: 100%;
    border-radius: 30px;
    transition: .5s;
    font-weight: 600;
}

button:hover {
    border-radius: 20px;
}

.choiseYes {
    grid-column: 1 /span 1;
}

.choiseNo {
    grid-column: 3 /span 1;
}

.button.button-yes,
button.button-yes,
input[type="submit"].button-yes,
input[type="reset"].button-yes,
input[type="button"].button-yes {
    color: rgb(17, 5, 5);
    background-color: #21d61b;
    border-color: #21d61b;
}

.button.button-yes:hover,
button.button-yes:hover,
input[type="submit"].button-yes:hover,
input[type="reset"].button-yes:hover,
input[type="button"].button-yes:hover,
.button.button-yes:focus,
button.button-yes:focus,
input[type="submit"].button-yes:focus,
input[type="reset"].button-yes:focus,
input[type="button"].button-yes:focus {
    color: rgb(17, 5, 5);
    background-color: #12b30c;
    border-color: #010501;
}

.button.button-no,
button.button-no,
input[type="submit"].button-no,
input[type="reset"].button-no,
input[type="button"].button-no {
    color: rgb(17, 5, 5);
    background-color: #d11a1a;
    border-color: #d11a1a;
}

.button.button-no:hover,
button.button-no:hover,
input[type="submit"].button-no:hover,
input[type="reset"].button-no:hover,
input[type="button"].button-no:hover,
.button.button-no:focus,
button.button-no:focus,
input[type="submit"].button-no:focus,
input[type="reset"].button-no:focus,
input[type="button"].button-no:focus {
    color: rgb(17, 5, 5);
    background-color: #9e0d0d;
    border-color: #010501;
}

.button.button-start,
button.button-start,
input[type="submit"].button-start,
input[type="reset"].button-start,
input[type="button"].button-start {
    color: rgb(17, 5, 5);
    background-color: #0fbec4;
    border-color: #0fbec4;
}

.button.button-start:hover,
button.button-start:hover,
input[type="submit"].button-start:hover,
input[type="reset"].button-start:hover,
input[type="button"].button-start:hover,
.button.button-start:focus,
button.button-start:focus,
input[type="submit"].button-start:focus,
input[type="reset"].button-start:focus,
input[type="button"].button-start:focus {
    color: rgb(17, 5, 5);
    background-color: #0d9ea3;
    border-color: #010501;
}

.button.button-repeat,
button.button-repeat,
input[type="submit"].button-repeat,
input[type="reset"].button-repeat,
input[type="button"].button-repeat {
    color: rgb(243, 243, 243);
    background-color: #0f48c4;
    border-color: #0f48c4;
}

.button.button-repeat:hover,
button.button-repeat:hover,
input[type="submit"].button-repeat:hover,
input[type="reset"].button-repeat:hover,
input[type="button"].button-repeat:hover,
.button.button-repeat:focus,
button.button-repeat:focus,
input[type="submit"].button-repeat:focus,
input[type="reset"].button-repeat:focus,
input[type="button"].button-repeat:focus {
    color: rgb(88, 88, 88);
    background-color: #0d3792;
    border-color: #010501;
}