html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    background-color: rgb(163, 173, 230);
}
/* 
@media (min-width: 770px) {
    .welcome {
        min-height: calc(100vh - 30px);
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: repeat(2, 1fr) 10px;
        font-size: 2.4rem;
        line-height: 10rem;
    }

    .startBtn {
        font-size: 2.4rem;
        width: 30%;
    }
}

@media (max-width: 769px) {
    .welcome {
        min-height: calc(100vh - 30px);
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: repeat(2, 1fr) 10px;
        font-size: 2rem;
        line-height: 6rem;
    }

    .startBtn {
        font-size: 2.4rem;
        width: 40%;
    }
}

@media (max-width: 415px) {
    .welcome {
        min-height: calc(100vh - 30px);
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: repeat(2, 1fr) 10px;
        font-size: 2rem;
        line-height: 3rem;
    }

    .startBtn {
        font-size: 1.2rem;
        width: 40%;
    }
}

.wlcomeParagraf {
    grid-column: 2;
    text-align: center;
}

.startBtn {
    grid-column: 2;
    text-align: center;
    margin: 0px auto;
    height: 50px;
    border: 2px solid black;
    text-transform: capitalize;
    border-radius: 10px;
} */

.container {
    display: grid; /* none */
}

@media (min-width: 770px) {
    .game {
        min-height: calc(100vh - 30px);
        display: grid;
        grid-template-columns: 30% repeat(7, 1fr) 30%;
        grid-template-rows: 10px repeat(4, 1fr) 10px;
    }
}

@media (max-width: 769px) {
    .game {
        min-height: calc(100vh - 30px);
        display: grid;
        grid-template-columns: 10% repeat(7, 1fr) 10%;
        grid-template-rows: 10px repeat(4, 1fr) 10px;
    }
}

@media (max-width: 415px) {
    .game {
        min-height: calc(100vh - 30px);
        display: grid;
        grid-template-columns: 1px repeat(7, 1fr) 1px;
        grid-template-rows: 10px repeat(4, 1fr) 10px;
    }
}

.box {
    border: 1px solid black;
    background-color: #fff;
}

.frame {
    grid-column: 2/span 7;
    grid-row: 2/span 4;

    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: repeat(4, 1fr);
}

.statisticsBar {
    grid-column: 1/span 3;
    grid-row: 1/span 1;
    padding: 25px;
}

.progressBarTittle {
    margin: 5px;
    padding: 2px;
    font-size: 1.6rem;
    text-align: center;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border: 2px solid black;  
}

.progressGold {
    background:#ffd700;
}

.progressGold::-webkit-progress-value {
  background-color:#ffd700;
}
.progressGold::-moz-progress-bar, .progressGold::-webkit-progress-bar {
  background-color:#ffd700;
}

.progressGreen {
    background:#4ee213;
}

.progressGreen::-webkit-progress-value {
  background-color:#4ee213;
}
.progressGreen::-moz-progress-bar, .progressGreen::-webkit-progress-bar {
  background-color:#4ee213;
}

.progressBlue {
    background:#1f76bd;
}

.progressBlue::-webkit-progress-value {
  background-color:#1f76bd;
}
.progressBlue::-moz-progress-bar, .progressBlue::-webkit-progress-bar {
  background-color:#1f76bd;
}

.progressRed {
    background:#fd0000;
}

.progressRed::-webkit-progress-value {
  background-color:#fd0000;
}
.progressRed::-moz-progress-bar, .progressRed::-webkit-progress-bar{
  background-color:#fd0000;
}






/* 
progress.green {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 15px;
    border: 2px solid black;   
}

progress.green::-moz-progress-bar, progress.gold::-webkit-progress-bar{
    background:#4ee213;
}

progress.blue {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 15px;
    border: 2px solid black;   
}

progress.blue::-moz-progress-bar, progress.gold::-webkit-progress-bar{
    background:#1f76bd;
} 

progress.red {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 15px;
    border: 2px solid black;   
}

progress.red::-moz-progress-bar, progress.gold::-webkit-progress-bar{
    background:#fd0000;
} */





.gold {
    color: #ffd700;
}
.green {
    color: #4ee213;
}
.blue {
    color: #1f76bd;
}
.red {
    color: #fd0000;
}

.picture {
    grid-column: 1/span 3;
    grid-row: 2/span 2;
    position: relative;
}

.questionToPlayer {
    padding: 10%;
}

.questionBar {
    grid-column: 1/span 3;
    grid-row: 4/span 1;
    position: relative;
}

.questionToPlayer,
.pictureNPC {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
}

.choise {
    grid-column: 2/span 7;
    grid-row: 7/span 1;
    display: grid;
}

button {
    margin: 0px auto;
    height: 50px;
    width: 100%;
    border: 2px solid black;
    text-transform: uppercase;
    border-radius: 10px;
    transition: .5s;
}

button:hover {
    border-radius: 20px;
}

.choiseYes {
    grid-column: 1 /span 2;
}

.choiseNo {
    grid-column: 4 /span 2;
}

.yesBtn {
    background-color: rgb(27, 199, 27);
}

.noBtn {
    background-color: rgb(209, 23, 23);
}